/* CSS Document */

*{
	margin: 0;
	padding: 0;
}
html,main{
	height: 100%;
}
body{
	background-image:url(../img/stonehaven.png);
	height:100%;
}
.wrapper{
	min-height:600px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:#4E2A84;
	border-radius:0px;
}
.title{
	color:#fff;
	font-family:titlefont;
	font-size:2.5em;
}
.spacing{
	margin:10px 0px;
	padding:10px 0px;
}
.button{
	border-radius:0px;
	background:#684C96;
	color:#fff;
	font-size:16px;
	font-weight:500;
	cursor:pointer;
	text-decoration:none;
	position:relative;
	height:35px;
	margin-top: 20px;
	border:none;
	text-decoration:none;
}
.homeButton{
	color:#fff;
	font-size:2.5em;
	position: absolute;
	top:10px;
	left:10px;
}

.homeButton:hover{
	color:#fff;
}
@font-face {
	font-family:titlefont;
	src:url(../fonts/FerroRosso.ttf);
}
@font-face{
	font-family:subtitlefont;
	src:url(../fonts/KoolBean.ttf);
}
@font-face{
	font-family:bodyfont;
	src:url(../fonts/Junction-regular.otf);
}
/*Animation*/
@keyframes borderAnimation{
	0%{
		width:0;
		height:0;
		border-top-color:transparent;
		border-right-color:transparent;
		border-bottom-color:transparent;
		border-left-color:transparent;
	}
	25%{
		width:0;
		height:0;
		border-top-color:#fff;
		border-right-color:transparent;
		border-bottom-color:transparent;
		border-left-color:transparent;
	}
	50%{
		width:100%;
		height:100%;
		border-top-color:#fff;
		border-right-color:#fff;
		border-bottom-color:transparent;
		border-left-color:transparent;
	}
	75%{
		width:100%;
		height:100%;
		border-top-color:#fff;
		border-right-color:#fff;
		border-bottom-color:#fff;
		border-left-color:transparent;
	}
	100%{
		width:100%;
		height:100%;
		border-top-color:#fff;
		border-right-color:#fff;
		border-bottom-color:#fff;
		border-left-color:#fff;
	}
}