<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="https://use.fontawesome.com/3745c7cd27.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/master.css" />
<link rel="stylesheet" type="text/css" href="css/register.css" />
<title>Forgot Password - Finance Tracker</title>
</head>

<body>
<!-- 	<div class="preLoader">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div> -->
	<div class="container wrapper">
    	<div class="row">
        	<h2 class="text-center title" id="title">Finance Tracker</h2>
            <hr />
        </div>
        <div class="row">
            <h2 class="text-center"><i class="fa fa-unlock-alt">&nbsp;&nbsp;</i>Reset Password</h2>
        	<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12" id="formContainer"><!--Start of Form Container-->
        		<p class="text-center">Please enter the email associated with your account<br></br>an email will be sent with a unique code. Please check it in your<br></br> inbox, spam or junk folder</p>
        		<form th:action="@{/Reset}" id="resetPasswordForm">
        			<div class="form-group">
        				<input type="email" class="form-control" placeholder="please enter your email"/>
        			</div>
        			<div class="form-group">
        				<div class="col-md-4">
        					<button type="button" class="col-md-10 col-md-offset-1 button">Send&nbsp;&nbsp;<i class="fa fa-share-square"></i></button>        				
        				</div>
						<div class="col-md-4">
        					<button type="button" class="button col-md-10 col-md-offset-1">Resend&nbsp;&nbsp;<i class="fa fa-retweet"></i></button>        				
        				</div>  
        				<div class="col-md-4">
        					<button type="button" class="button col-md-10 col-md-offset-1">Next&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button>        				
        				</div> 
        			</div>
        		</form>
            </div><!--End of Form Container-->
        </div>
    </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/custom.js" type="text/javascript"></script>
</body>
</html>
